# INSTRUCTIONS
# -----------------------------------------------------------------------------
# This is an example pull secret file necessary for pulling docker images from 
# the github package repository.    You will need to replace the <AUTH> 
# placeholder below with a 64 bit encoded Github Personal Access Token which 
# has read:package permissions to the GOAP deployment repository.  

# 1. To obtain a gitub personal access token, follow the instructions found here:
# https://docs.github.com/en/github/authenticating-to-github/creating-a-personal-access-token

# 2. Use the base64 utility to encode your access token.  For example, from the
# command line, you can run:
#
# echo -n YOUR_USERNAME:YOUR_ACCESS_TOKEN | base64
#
# where YOUR_USERNAME is your github username, and YOUR_ACCESS_TOKEN is the token 
# created in step 1.  

# 3. Copy the results from step 2 onto line 37, replacing the <AUTH> placeholder 
# with your base 64 encoded access token.   Then save this file.  
# !!! DO NOT CHECK YOUR CHANGES INTO THE REPOSITORY!!!

# 4. Ensure that you are logged into you k8 cluster, and that you have the correct 
# namespace selected.   

# 5. From the command line, run the following command to create the pull secret 
# in the k-8 cluster:
#
# kubectl apply -f pull-secret.yaml

kind: Secret
type: kubernetes.io/dockerconfigjson
apiVersion: v1
metadata:
  name: github-pkg-pull-secret
stringData:
  .dockerconfigjson: '{"auths":{"docker.pkg.github.com":{"auth":"<AUTH>"}}}'